<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <h1>Email</h1>
    <ul>
        <li>To - <%= email.to %> </li>
        <li>Cc - <%= email.cc %> </li>
        <li>Subject - <%= email.subject %> </li>
        <li>Schedule - <%= email.schedule %> </li>
        <li>Body - <%= email.body %> </li>
    </ul>
    <form action="/email/<%= email._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <a href="/email/<%= email._id %>/edit">Edit</a>
    <a href="/email">All Emails</a>
</body>
</html>